{% extends "auctions/layout.html" %}
{% block body %}
    <!-- <h1>{{item.pk}}</h1> -->
    <h2>Listings: {{item.item_name}}</h2>
    <h3>{{debug}}</h3>
    {% if watching == 1 %}
        <div>
            <form action="{%url 'watchlistrm' item.id %}" method="post">
                {% csrf_token %}
                <input  name = "item" type="submit" class="btn btn-danger" aria-label="Close" value ="Remove from Watchlist"
                style="z-index: 2;position: relative; ">
            </form>
        </div>
    {%elif watching == 2 %}
        <p>Added to Watchlist.</p>
    {% else %}
        <!-- <form action="{% url 'watchlist' item.id %}" method="post">
            {% csrf_token %}
            <button type="submit" name="Watchlist" value="Watchlist" class="btn btn-outline-secondary mb-1">Watchlist</button>
        </form> -->
        <a class="btn btn-outline-secondary mb-1" data-bs-toggle="button"  href="{% url 'watchlist' item.id %}" role="button">Watchlist</a>
    {% endif %}
    <img src ="{{item.url}}" class = "img-fluid "  style="max-height: 450px;">
    <p>{{item.description}}</p>
    <h3>${{item.price}}</h3>
    {% if user.is_authenticated %}
        <form action = "{% url 'bids' item.id %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <input type ="text" class="form-control " name = "bids_from_form" placeholder="Bid" autocomplete="off" autofocus>
            </div>
            {%if errmsg == 1%}
                <p>Enter a valid bid.</p>
            {% endif %}
            <input class="btn btn-primary mb-3" type="submit" value="Place Bid">
        </form>
        {% else %}
        <p class = "text-danger">You need to be Logged in to place a bid.</p>
    {% endif %}
    <div>
        <h4>Details:</h4>
        <ul>
            <li>Listed By: {{item.lister}}</li>
            <li>Category: {{item.category}}</li>
        </ul>
    </div>
{% endblock %}